.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.feature-container {
  width: 80%;
  height: 80%;
}

.feature-section {
  width: 100%;
}

.generic-button {
  padding: 10px;
  margin: 20px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: lightgray;
  background-color: #4a505c;
  border: 1px solid black;
  cursor: pointer;
}

.add-search-option-button {
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: lightgray;
  background-color: #4a505c;
  border: 1px solid black;
  cursor: pointer;
}

.search-label {
  float: right;
  margin-right: 12px;
}

.checkboxes {
  vertical-align: middle;
  margin: auto;
}

input, select {
  background-color: #4a505c;
  border: 1px solid #1f2126;
  color: lightgray;
}

.input-large {
  width: 100%;
}

.input-small {
  float: left;
}

.label-small {
  float: left;
}

.col-2 {
  float: left;
  width: 2%;
}

.col-3 {
  float: left;
  width: 3%;
}

.col-5 {
  float: left;
  width: 5%;
}

.col-15 {
  float: left;
  width: 15%;
}


/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
}

/* Floating column for inputs: 33% width */
.col-33 {
  float: left;
  width: 33%;
}

.col-40 {
  float: left;
  width: 40%;
}

.col-50 {
  float: left;
  width: 50%;
}

.col-60 {
  float: left;
  width: 60%;
}

.col-66 {
  float: left;
  width: 66%;
}

.col-65 {
  float: left;
  width: 65%;
}

.col-70 {
  float: left;
  width: 70%;
}

.col-50 {
  float: left;
  width: 50%;
}

.col-100 {
  float: left;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.readability-chart {
  max-width: 600px;
}


/* Filter Dropdown */
/* The container <div> - needed to position the dropdown content */

.dropdown-item {
  color: lightgray;
  border: 2px solid #1f2126;
  display: inline-block;
  max-width: 200px;
  margin: auto;
  background-color: #4a505c;
  cursor: pointer;
  min-width: 200px;
  padding: 10px;
  font-size: 16px;
}

.dropdown-item:hover {
  background-color: #2d3138;
}

.dropdown-item-container {
  max-width: 800px;
  padding-top: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.remove-filter-entry:hover {
  color: #b81d1d;
}

.negated-false::before {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  content: "\f00c";
}

.negated-true::before {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  content: "\f00d";
}

.negated-false {
  color: green;
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

.negated-true {
  color: red;
  transform: rotate(360deg);
  transition: transform .3s ease-in-out;
}

.filter-option-button {
  border: 1px solid black;
  background-color: #4a505c;
  color: lightgray;
  cursor: pointer;
  width: 85%;
  margin-top: 6px;
  font-size: 15px;
  padding: 2px;
}

.search-identifier-true::before {
  content: "ID"
}

.search-identifier-false::before {
  content: "Label"
}

.filter-entry {
  margin-top: 6px;
}

.analysis-options {

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ks-cboxtags {
  display: inline;
}
.ks-cboxtags .fancy-label{
  display: inline-block;
  background-color: #4a505c;
  border: 2px solid #1f2126;
  color: #fff;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

.ks-cboxtags .fancy-label {
  padding: 8px 12px;
  cursor: inherit;
}

.ks-cboxtags .fancy-label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform .3s ease-in-out;
}

.ks-cboxtags input[type="checkbox"]:checked + .fancy-label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

.ks-cboxtags input[type="checkbox"]:checked + .fancy-label {
  border: 2px solid #1f2126;
  background-color: #2d3138;
  color: #fff;
  transition: all .2s;
}

/*.ks-cboxtags input[type="checkbox"] {*/
/*  display: absolute;*/
/*}*/
.ks-cboxtags input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ks-cboxtags input[type="checkbox"]:focus + .fancy-label {
  border: 2px solid #e9a1ff;
}

.inner-input input[type="checkbox"] {
  opacity: 100% !important;
  position: relative !important;
}


.inner-option {
  text-align: right !important;
  margin-right: 5px;
  margin-left: -5px;
}

.delete-analysis-option-button {
  font-family: "Font Awesome 5 Free" !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  font-size: 20px;
  border: none;
  background: none;
  width: 35px;
  height: 30px;
  color: lightgray;
  float: left;
  cursor: pointer;
}

.delete-analysis-option-button:hover {
  color: #b81d1d;
}

.delete-analysis-option-button::before {
  content: "\f1f8";
}

.search-option-container {
  border: 1px solid black;
  background-color: #3c434d;
}

#submit-search {
  padding: 20px 50px 20px;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: lightgray;
  background-color: #4a505c;
  border: 1px solid black;
  cursor: pointer;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.download-data-button.generic-button {
  margin-bottom: 30px;
  margin-top: 5px;
}


/************************************
 * RAW DATA TABLE                   *
 ************************************/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1px;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0 auto 40px;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #2d3138;
  /*background: #4a505c;*/
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

/* if every other row should have a different color, uncomment this */
/*tbody tr:nth-child(even) {*/
/*  background: #4a505c;*/
/*}*/

tbody tr {
  font-size: 15px;
  color: #ffff;
  line-height: 1.2;
  font-weight: unset;
  background: #4a505c;
}

tbody tr:hover {
  color: #ffff;
  background-color: #2b2f36;
  cursor: pointer;
}

.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 160px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 110px;
  text-align: right;
}

.column5 {
  width: 170px;
  text-align: right;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}


@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Date";
  }
  table tbody tr td:nth-child(2):before {
    content: "Order ID";
  }
  table tbody tr td:nth-child(3):before {
    content: "Name";
  }
  table tbody tr td:nth-child(4):before {
    content: "Price";
  }
  table tbody tr td:nth-child(5):before {
    content: "Quantity";
  }
  table tbody tr td:nth-child(6):before {
    content: "Total";
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
