lxml==4.9.1
spacy==2.1.9
beautifulsoup4==4.9.2
./data/blackstone-0.1.16.tar.gz
Flask==1.1.2
flask_pymongo==2.3.0
fuzzywuzzy==0.18.0
gensim==3.8.3
PyInquirer==1.0.3
pymongo==3.11.0
spacy_iwnlp==0.0.2
stanza==1.1.1
textacy==0.9.1
--find-links https://download.pytorch.org/whl/torch_stable.html # Windows only
torch==1.6.0
xmltodict==0.12.0
zeep==3.4.0
celery
redis
https://github.com/explosion/spacy-models/releases/download/de_core_news_md-2.1.0/de_core_news_md-2.1.0.tar.gz#egg=de_core_news_md
https://blackstone-model.s3-eu-west-1.amazonaws.com/en_blackstone_proto-0.0.1.tar.gz#egg=en_blackstone_proto
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.1.0/en_core_web_md-2.1.0.tar.gz#egg=en_core_web_md
